[Unit]
PartOf=graphical-session.target
After=graphical-session.target
CollectMode=inactive-or-failed
Description=Startup script

[Service]
Type=simple
ExecStart=setxkbmap -option caps:escape

[Install]
WantedBy=gnome-session.target
WantedBy=autostart-bspwm.target
