[Unit]
PartOf=graphical-session.target
After=graphical-session.target
CollectMode=inactive-or-failed
Description=Startup script

[Service]
Type=simple
ExecStart=xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock

[Install]
WantedBy=gnome-session.target
