__pycache__
.repository
.hiddenenv*
.zcompdump
packer_compiled.lua
btop.log

.config/*

# Explicitly allow which config to persist
!.config/bin
!.config/bspwm
!.config/btop
!.config/colorschemes
!.config/desktop-entries
!.config/dunst
!.config/feh
!.config/git
!.config/gtk-3.0/gtk.css
!.config/gtk-3.0/settings.ini
!.config/htop
!.config/ideavim
!.config/kitty
!.config/mimeapps.list
!.config/npm
!.config/nvim
!.config/picom
!.config/polybar
!.config/ranger
!.config/rofi
!.config/sxhkd
!.config/systemd
!.config/Thunar/uca.xml
!.config/tmux
!.config/vim
!.config/X11/.xinitrc
!.config/X11/.Xresources
!.config/xsecurelock
!.config/zathura
!.config/zsh
