__pycache__
.repository
.config/Slack
.config/X11/.Xauthority
.config/gthumb/history.xbel
.config/dconf/user
.config/pulse/
!./config/pulse/*.conf
.config/Thunar/accels.scm
.config/zsh/plugins
.zcompdump

