__pycache__
.repository
.hiddenenv*
.zcompdump
packer_compiled.lua
btop.log

.config/*

# Explicitly allow which config to persist
!.config/autorandr
!.config/bin
!.config/bspwm
!.config/colorschemes
!.config/desktop-entries
!.config/dunst
!.config/feh
!.config/git
!.config/ideavim
!.config/kitty
!.config/picom
!.config/polybar
!.config/rofi
!.config/sxhkd
!.config/systemd
!.config/tmux
!.config/vim
!.config/X11/.xinitrc
!.config/X11/.Xresources
!.config/xsecurelock
!.config/zsh
!.config/gnome-settings
!.config/wireplumber
!.config/pipewire
!.config/xkb
!.config/xplugd

.config/systemd/user/*.wants
.config/git/user_work.inc
